#togglePassword{ /*eye icon*/
    margin-left: -35px;
    cursor: pointer;
    font-size: 20px;
}

#close{ /*close icon*/
    cursor: pointer;
    font-size: 20px;
}

#close:hover{
    color: red;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Verdana, Tahoma, Times New Roman, Georgia, Courier New;
    font-size: 1rem;
    line-height: 1.7;
    background-color: #9891B0; /*temporary color*/
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    width: 350px;
    margin: 10px auto;
    padding: 1rem;
}

.errorText{
    color: #D8000C;
    text-align: center;
}

h1{
    padding-top: 5px;
    padding-bottom: 30px;
    font-size: 30px;
    color: black;
    text-align: center;
}

.textInput input {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    width: 100%;
    border: solid 1px #ccc;
}

button {
    box-sizing: border-box;
    width: 100%;
    padding: 5%;
    background: #007bff;
    border: none;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
}

button:hover {
    background: #0069d9;
    cursor: pointer;
}

.submit{
    margin-top:20px;
    margin-bottom: 20px;
}

#notAMember{
    padding-top: 10px;
    font-size: 15px;
    text-align: center;
}

#signUpLink{
    text-decoration: none;
    color: #007bff;
}

#signUpLink:hover{
    color: red;
}