body{
    font-family: sans-serif;
}

p{
    text-align: justify;
}

h1{
    text-align: center;
}

.classes{
    background-color:rgb(240, 240, 240);
    border-radius: 5px;
    width: 100%;
    margin: 10px auto;
    padding: 1rem;
    text-align: justify;
}